{
  "plex_token": "",
  "plex_url": "https://plex.domain.tld",
  "plex_enabled": false,
  "emby_token": "",
  "emby_url": "https://emby.domain.tld",
  "emby_enabled": false,
  "delay": 10,
  "path_mappings": {
    "/mnt/unionfs/Media/": "/data/",
    "/data/Movies/": "/movies/"
  },
  "radarr": {
    "radarr": {
      "url": "https://radarr.domain.tld",
      "apikey": ""
    },
    "radarr4k": {
      "url": "https://radarr4k.domain.tld",
      "apikey": ""
    }
  },
  "sonarr": {
    "sonarr": {
      "url": "https://sonarr.domain.tld",
      "apikey": ""
    },
    "sonarr4k": {
      "url": "https://sonarr4k.domain.tld",
      "apikey": ""
    }
  }
}